*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black;
   
    
}

body{
    background-color:#BCD5DB;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px;
    justify-content: center;
    align-items: center;
    


}

.header{
    grid-column: 1/4;
    height: 300px;
    width: 100%;
    background-color:#046BAB;
    text-align: center;
    padding-top: 20px;
    line-height: 6rem;

}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color:#C4ECFB;
}
i{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color:#A2C1EE;
}

p{
    color: #1A76D0;
}
.form{
    grid-column: 1/4;
    text-align: center;
   
   
}
 

input, textarea{
    width: 40%;
    height: 80%;
    margin: 10px;
    padding:10px;
    outline: none;
    font-size: 12px;
    background-color: #F4F4FC;
    border-radius: 10%;
   
}

button{
    padding:15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 20px;
    border-radius: 30px;
   color: antiquewhite;
   background-color: #2AABDC;
}



.copy{
    grid-column: 1/4;
    text-align: center;
    background-color:#E4E4E4;
    border-radius: 20%;
}

strong,em{
    color:#2BA0E1;
}



